.design{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.top{
    position: absolute;   
    width: 100%;
    height: 100%;
    z-index: 1;
}
.stripe{
    position: absolute;
    width: 100%;
    top:23vh;
    height:5.5vh;
    background-color: #d6b75a;
    opacity: .94;
}