.bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.wood-texture{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/woodtext.png");
    opacity: .1;
    z-index: -1;
}
.market-pos{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: -4.8%;
    background-color: #907d6c;
}
.tables-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    background-color: #3f2615;
}
.marketplace{
    text-align: start;
    color: #907d6c;
    text-shadow: -4px -2px rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    padding-top: 10px;
}
